@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type="number"] {
  -moz-appearance: textfield;
} */

/* Estilo adicional para mejorar la apariencia */
input[type="number"] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.stylepad {
  padding-left: 40px !important;
}

input[type=radio] {
  accent-color: rgb(217, 220, 46);
  color: white;
}